// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

@font-face {
	font-family: 'WhoopAss';
	src: url('/assets/whoopass.eot');
	src:
		local('WhoopAss'),
		url('/assets/whoopass.ttf')
		format('truetype');
}

$color-white: #fff;
$color-pink: #b9007f;
$color-green: #40F200;

$gutter-small: 20px;
$gutter-large: 80px;

code, pre {
  font-family: Consolas, "Consolas for Powerline", "Courier New", Courier, monospace;
  color: green;
}

.aaa {
  color: green;
}

.max-width {
	max-width: 700px;
}


h1, h2 {
  font-family: 'WhoopAss', sans-serif;
}

h1, .like-h1 {
  color: $color-pink;
  font-size: 2.7em;
  letter-spacing: 0.06em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  @extend .like-normal;
  display: inline-block;
  position: relative;
  .bar {
    height: 1.6em;
    display: block;
    position: absolute;
    z-index: 0;
    left: -30px;
    top: -4px;
    &.bar-pink {
      width: 233%;
      background-color: $color-pink;
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }
    &.bar-green {
      width: 143%;
      background-color: $color-green;
      -ms-transform: rotate(-3deg);
      -webkit-transform: rotate(-3deg);
      transform: rotate(2deg);
    }
  }
  .text {
    position: relative;
    z-index: 1;
    color: #fff;
  }
}

.text-default {
  font-family: 'Sanchez', serif;
  font-size: 1.1em;
  color: #000;
}

.text-white {
  color: $color-white;
}

p, li, a, .like-normal {
  @extend .text-default;
	@extend .max-width;
}



.narrow {
  max-width: 430px;
}

.gutter-top-small {
  margin-top: $gutter-small;
}
.gutter-top-large {
  margin-top: $gutter-large;
}

.gutter-bottom-small {
  margin-bottom: $gutter-small;
}
.gutter-bottom-large {
  margin-bottom: $gutter-large;
}





.menu {
  width: 300px;
  z-index: 999;
  position: relative;
  ul {
    list-style-type: none;
    li {
      margin: 0;
    }
  }
}

.intro {
  h1 {
    margin: 0px;
  }
  h2 {
    margin-top: 0px;
  }
  width: 440px;
  text-align: center;
  margin: 50px auto 0;
}

.page {
	@extend .gutter-top-large;
	@extend .gutter-bottom-large;
  h2 {
    margin: 50px 0px 0px;
  }
  p, ul {
    margin-top: 0;
    margin-bottom: 0;
    &.gutter-bottom-small {
      @extend .gutter-bottom-small;
    }
  }
}

.contact {
  background-color: $color-pink;
  padding: 26px 10px;
  position: absolute;
  width: 300px;
  right: 0px;
  top: 200px;
  ul {
    list-style-type: none;
    li {
      margin-left: 0;
    }
  }
}

.footer {
  @extend .text-default;
  @extend .text-white;
  background-color: #000;
  font-family: 'Sanchez', serif;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
	z-index: 999;
}

.col-container {
	@extend .gutter-top-large;
	@extend .max-width;
	.col {
		float: left;
	}
	&.col-3 {
		.col {
			width: 30%;
		}
	}
	&:after {
		content: "";
		display: block;
		clear: both;
	}
}

.portfolio-image {
	@extend .gutter-bottom-small;
	width: 80%;
	box-shadow: 8px 8px 7px 0px rgba(0, 0, 0, 0.65);
}

.page-image {
  height: 1000px;
  width: 100%;
  background-size: cover;
  position: fixed;
  right: 0px;
  z-index: 0;
  bottom: 0px;
  &.page-image-wat-doe-ik {
    background: url(/assets/p2.jpg) no-repeat right bottom;
  }
  &.page-image-over-eline {
    background: url(/assets/p3.jpg) no-repeat right bottom;
  }
}
